<template>
  <v-container class="d-flex flex-column align-center justify-center">
    <v-card
      width="30%"
      class="py-3 mb-0 display-1 white--text d-flex justify-center"
      color="rgba(128, 137, 173, 0.7)"
      tile
    >
      Prossimamente
    </v-card>
    <v-timeline dark>
      <v-timeline-item
        v-for="(film, index) in films"
        :key="film.id"
        color="rgba(128, 137, 173, 0.7)"
        dark
        small
        fill-dot
      >
        <template v-slot:opposite>
          <timeline-item-card
            ref="timelineItemCard"
            :film="film"
            :film-index="index"
            @openFilmDetails="showFilmDetailsDialog(film)"
          />
        </template>
      </v-timeline-item>
    </v-timeline>
    <film-details
      :show-dialog="showDialog"
      :film-details="selectedFilmDetails"
      @closeDetailsDialog="closeDetailsDialog"
    />
  </v-container>
</template>

<script>
import FilmDetails from '../FilmDetails';
import TimelineItemCard from './TimelineItemCard';
export default {
  components: {
    TimelineItemCard,
    FilmDetails,
  },
  props: {
    films: undefined,
  },
  data() {
    return {
      hoverIcon: true,
      selectedFilmDetails: {},
      showDialog: false,
    };
  },
  watch: {
    showDialog() {
      if (!this.showDialog) {
        if (this.$refs.timelineItemCard && this.$refs.timelineItemCard.length > 0) {
          this.$refs.timelineItemCard.forEach((timelineItemCard) => {
            timelineItemCard.onFilmDetailCloseHandler();
          });
        }
      }
    },
  },
  methods: {
    showFilmDetailsDialog(selectedFilm) {
      this.showDialog = true;
      this.selectedFilmDetails = Object.assign({}, selectedFilm);
    },
    closeDetailsDialog(value) {
      this.cycle = true;
      this.showDialog = value;
    },
  },
};
</script>

<style>
#details-icon {
  color: white;
}
#details-icon:hover {
  color: black;
}
</style>
