<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale =1.0">
    <link rel="icon" href="<%= BASE_URL %>g1104_vi4_icon.ico">
    <title>Cinema Accademia - Pontassieve</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>Il Cinema Accademia è un teatro situato a Pontassieve. Già dal 1870 si erano avviate le
          pratiche relative alla costruzione del teatro, ma solo vent'anni dopo fu realizzato con la
          denominazione di Teatro dell'Accademia Vincenzo da Filicaia. Nel 1929 il locale venne dato
          in gestione al Partito Nazionale Fascista e venne ben presto adibito anche a cinematografo.
          In questa redazione, giunta fino agli anni cinquanta, il teatro presentava una sala
          presumibilmente ovata, 14 palchi e un loggione, capaci di ospitare 700 spettatori. Nel 1990
          è stato restaurato sia nell'impiantistica che nelle decorazioni. Nella nuova redazione ha
          accentuato il suo ruolo di sala cinematografica, con posti a sedere solo in platea, mentre
          la galleria è stata adattata a cabina di proiezione e di regia.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
