<template>
  <v-container class="px-10 white--text">
    <div class="mb-10">
      <span :class="$store.state.isMobile ? 'display-1' : 'display-2'">Cinemaccademia</span>
    </div>
    <div class="mb-5">
      <span class="title">Chi siamo?</span>
    </div>
    <div class="mb-6">
      <span class="body-1 grey--text text--lighten-1">
        Il Cinema Accademia è un teatro situato a Pontassieve. Già dal 1870 si erano avviate le
        pratiche relative alla costruzione del teatro, ma solo vent'anni dopo fu realizzato con la
        denominazione di Teatro dell'Accademia Vincenzo da Filicaia. Nel 1929 il locale venne dato
        in gestione al Partito Nazionale Fascista e venne ben presto adibito anche a cinematografo.
        In questa redazione, giunta fino agli anni cinquanta, il teatro presentava una sala
        presumibilmente ovata, 14 palchi e un loggione, capaci di ospitare 700 spettatori. Nel 1990
        è stato restaurato sia nell'impiantistica che nelle decorazioni. Nella nuova redazione ha
        accentuato il suo ruolo di sala cinematografica, con posti a sedere solo in platea, mentre
        la galleria è stata adattata a cabina di proiezione e di regia.
      </span>
    </div>
    <div class="mb-5">
      <span class="title">Dove siamo?</span>
    </div>
    <div>
      <span class="body-1 grey--text text--lighten-1">
        Via G. Montanelli n. 33 - 50065 Pontassieve (FI)
      </span>
    </div>
  </v-container>
</template>
