<template>
  <v-dialog v-model="isActive" fullscreen hide-overlay class="fill-height">
    <v-card class="fill-height ">
      <v-system-bar
          color="transparent"
          window
      >
        <v-spacer />
        <v-icon
            id="film_details_close_icon"
            class="black--text"
            @click="isActive = false"
        >
          mdi-close
        </v-icon>
      </v-system-bar>
      <v-tabs grow  style="height: 85%" class="overflow-y-auto">
        <v-tabs-slider></v-tabs-slider>
        <v-tab>Orari</v-tab>
        <v-tab @click="loadCards()">Favorites</v-tab>

        <v-tab-item style="overflow-y: auto " class="fill-height">
          <v-card-text class="overflow-y-auto fill-height">
            <v-row justify="end" class="mr-5  fill-height" >
              <v-btn class="mr-1" @click="openModifyHours = !openModifyHours" fab dark small color="primary" depressed  rounded>
                <v-icon>mdi-cog</v-icon>
              </v-btn>
                <v-menu
                        v-model="preferitiModel"
                        bottom
                        right
                        transition="scale-transition"
                        origin="top left"
                        :close-on-content-click="false"
                >
                    <template v-slot:activator="{ on }">
                        <v-btn    v-on="on" fab  dark small color="pink" depressed  rounded>
                            <v-icon dark>mdi-heart</v-icon>
                        </v-btn>
                    </template>
                    <v-card width="300">
                        <v-card-text>
                        <v-text-field label="nome" v-model="cardName" class="ma-2"></v-text-field>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="primary"  text @click="addCards">Aggiungi ai preferiti</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-menu>

            </v-row>
            <v-row justify="center">
              <v-col v-for="(w,index) in weekDay" :key="index" justify="center">
                <div style="text-align: center">{{w.day}}</div>
                <div style="text-align: center ; margin: 5px" v-for="h in w.hours" :key="h.id">
                  <v-chip
                    :color="selected(h.selected)"
                    @click="h.selected = !h.selected"
                    :class="{ 'select': h.selected }"
                    small
                  >{{h.value}}</v-chip>
                </div>
              </v-col>
            </v-row>
            
            <v-dialog v-model="openModifyHours" width="800">
              <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>Modifica Orari</v-card-title>
                <v-card-text>
                  <v-chip
                    close
                    class="ma-2"
                    v-for="h in hours"
                    :key="h.id"
                    @click:close="deleteChips(h.id)"
                  >{{h.value}}</v-chip>
                  <v-menu
                    transition="scale-transition"
                    offset-y
                    v-model="showAddTime"
                    :close-on-content-click="false"
                  >
                    <template v-slot:activator="{ on }">
                      <v-chip>
                        <v-icon v-on="on" cirlce>mdi-plus</v-icon>
                      </v-chip>
                    </template>
                    <v-time-picker format="24hr"  v-model="time">
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="showAddTime = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="saveChips(time)">OK</v-btn>
                    </v-time-picker>
                  </v-menu>
                </v-card-text>
                <v-card-actions></v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-text>
        </v-tab-item>
        <v-tab-item style="overflow-y: auto " class="fill-height">
          <div style=" overflow-x: hidden;">
            <v-card v-for="card in cards" :key="card.id">
              <v-card-title>
                <span>{{card.name}}</span>
                <v-icon
                  @click="selectCard(card) "
                >{{card.id==selCard ? 'mdi-checkbox-marked-circle' :'mdi-checkbox-blank-circle-outline' }}</v-icon>
                <v-spacer></v-spacer>
                <v-icon @click="deleteCard(card.id)">mdi-delete-circle</v-icon>
              </v-card-title>
              <v-row justify="center">
                <v-col v-for="(w,index) in card.days" :key="index" justify="center">
                  <div style="text-align: center">{{w.day}}</div>
                  <div style="text-align: center ; margin: 5px" v-for="h in w.hours" :key="h.id">
                    <v-chip
                      :color="selected(h.selected)"
                      :class="{ 'select': h.selected }"
                      small
                    >{{h.value}}</v-chip>
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </div>
        </v-tab-item>
      </v-tabs>
      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" outlined @click="isActive = false ">annulla</v-btn>
        <v-btn color="primary" outlined @click="emitData() ">Inserisci orari</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import db from "../firebaseConfiguration/firebaseInit";
export default {
  name: "DateHourPicker",
  props: ["value", "date"],

  data() {
    return {
      isActive: this.value,
      dateRange: this.date,
      weekDay: [],
      hours: [],
      cards: [],
      selectedCard: [],
      selCard: "",
      openModifyHours: false,
      showAddTime: false,
      time:"",
        preferitiModel:false,
        cardName:"",
    };
  },
  methods: {
    saveChips(hour){
       db.firestore().collection("hour")
        .add({ 
              hour: hour,
             })  
        .then(_=>{
          this.loadHours().then(_=>{
            this.showAddTime = false;
             this.loadDateRange();
          });
        });
    },
    closeChip(day, idHours) {
      for (let i = 0; i < this.weekDay.length; i++) {
        if (this.weekDay[i].day == day) {
          for (let o = 0; o < this.weekDay[i].hours; o++) {
            if (this.weekDay[i].hours[o].id == idHours) {
              this.weekDay[i].hours.splice(o, 1);
            }
          }
        }
      }
    },
    loadCards() {
      this.cards = [];
      db.firestore().collection("cards")
        .get()
        .then(querySnapshot => {
          querySnapshot.forEach(element => {
            this.cards.push({
              days: element.data().days,
              id: element.id,
              name: element.data().name
            });
          });
        });
    },
    loadHours() {
      this.hours = [];
    return  db.firestore().collection("hour")
        .get()
        .then(querySnapshot => {
          querySnapshot.forEach(element => {
            this.hours.push({
              id: element.id,
              value: element.data().hour,
              selected: false
            });
          });
        });
    },
    deleteCard(id) {
      db.firestore().collection("cards")
        .doc(id)
        .delete()
        .then(a => {
          console.log("elemento cancellato ");
          this.loadCards();
        });
    },
    deleteChips(id) {
      db.firestore().collection("hour")
        .doc(id)
        .delete()
        .then(a => {
          console.log("elemento cancellato ");
            this.loadHours().then(_=>{
             this.loadDateRange();
          });
        });
    },
    addCards() {
      db.firestore().collection("cards")
        .add({ id: 2, name: this.cardName, days: this.weekDay })
        .then();
        this.preferitiModel = false;
    },
    selected(d) {
      
      return d ? "green" : "reed";
    },
    getDay(element) {
      switch (element) {
        case 0:
          return "Domenica";
        case 1:
          return "Lunedì";
        case 2:
          return "Martedì";
        case 3:
          return "Mercoledì";
        case 4:
          return "Giovedì";
        case 5:
          return "Venerdì";
        case 6:
          return "Sabato";

        default:
          break;
      }
    },
    loadDateRange(){
        this.weekDay = [];

      if (this.dateRange.length === 2) {
        this.dates = [];
        let startDate = new Date(this.dateRange[0]);
        let endDate = new Date(this.dateRange[1]);
        let diff = endDate.getTime() - startDate.getTime();
        let dayBetween = diff / 86400000;
        for (let i = 0; i < dayBetween+1; i++) {
          this.dates.push(new Date(startDate.getTime() + 86400000 * i));
        }
        let days = this.dates
          .map(a => a.getDay())
          .sort()
          .filter(function(value, index, self) {
            return self.indexOf(value) === index;
          });
        days.forEach(element => {
          this.weekDay.push({
            day: this.getDay(element),
            hours: JSON.parse(JSON.stringify(this.hours))
          });
        });
      }
    },
    emitData(){
      this.dialog = false;
      this.$emit("hours" ,this.selectedCard.length>0 ? this.selectedCard : this.weekDay)
      this.isActive= false;
    },
    selectCard(value){
      this.selectedCard =value.days;
      this.selCard = value.id;


    }
  },
  watch: {
    dateRange() {
    this.loadDateRange()
    },
    value() {
      this.isActive = this.value;
    },
    date() {
      this.dateRange = this.date;
    },
    isActive() {
      this.$emit("input", this.isActive);
    }
  },
  mounted() {
    db.firestore().collection("hour")
      .get()
      .then(querySnapshot => {
        querySnapshot.forEach(element => {
          this.hours.push({
            id: element.id,
            value: element.data().hour,
            selected: false
          });
        });
      });
  }
};
</script>

<style>
.v-dialog {
  overflow-y: hidden;
}
</style>
